@model IEnumerable<FullStackMVC.Models.Subcliente>

@{
    ViewData["Title"] = "Index";
}

<h1>Vista de Subclientes.</h1>

<!-- BUSQUEDA: -->

<div class="d-flex justify-content-between mb-3">
    <input type="text" name="searchString" class="form-control me-2" placeholder="Buscar por nombre..." />
    <button type="submit" class="btn btn-outline-secondary">Buscar</button>
    </div>
<table class="table table-bordered table-hover">
    <thead class="table-light">
        <tr class>
            <th class="text-center">Nombre</th>
            <th class="text-center">Email</th>
            <th class="text-center">Teléfono</th>
        </tr>

        <tbody>
            @foreach (var subcliente in Model)
            {
                <tr>
                    <td>@subcliente.Nombre</td>
                    <td>@subcliente.Email</td>
                    <td>@subcliente.Telefono</td>
                </tr>
        }
        </tbody>
</table>
 
